.specific {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.card-logo-input {
  display: flex;
}

.card-logo-input i {
  font-size: 30px;
  margin-right: 10px;
}

.card-logo-input .fab.fa-cc-visa {
  color: navy;
}

.card-logo-input .fab.fa-cc-mastercard {
  color: blue;
}

.card-logo-input .fab.fa-cc-amex {
  color: red;
}

.card-logo-input .fab.fa-cc-discover {
  color: orange;
}


button {
    background-color: #47b8e0;
    color: #fff;
    border: none;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #3aa9cc;
}

button:active {
    transform: translateY(2px);
}
